<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cyhee.android.rabit">

    <application
        android:name=".activity.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name="com.cyhee.android.rabit.activity.splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.cyhee.android.rabit.activity.sign.login.LoginActivity"/>
        <activity android:name="com.cyhee.android.rabit.activity.sign.login.RegisterActivity"/>
        <activity android:name="com.cyhee.android.rabit.activity.main.MainActivity"/>
        <activity android:name="com.cyhee.android.rabit.activity.goallog.GoalLogActivity"/>
        <activity android:name="com.cyhee.android.rabit.activity.goal.GoalActivity"/>
        <activity android:name="com.cyhee.android.rabit.activity.personlist.likelist.LikeListActivity"/>
        <activity android:name="com.cyhee.android.rabit.activity.personlist.companionlist.CompanionListActivity"/>
        <activity android:name="com.cyhee.android.rabit.activity.mywall.MyWallActivity"/>
        <activity android:name="com.cyhee.android.rabit.activity.wall.WallActivity"/>
        <activity android:name="com.cyhee.android.rabit.activity.personlist.followerlist.FollowerListActivity"/>
        <activity android:name="com.cyhee.android.rabit.activity.personlist.followinglist.FollowingListActivity"/>
        <activity android:name="com.cyhee.android.rabit.activity.goallist.GoalListActivity"/>
        <activity android:name="com.cyhee.android.rabit.activity.goalwrite.GoalWriteActivity"/>
        <activity android:name="com.cyhee.android.rabit.activity.goallogwrite.GoalLogWriteActivity"/>
        <activity android:name="com.cyhee.android.rabit.activity.comment.CommentsActivity"/>
        <activity android:name="com.cyhee.android.rabit.activity.comgl.ComGlActivity" />
        <activity android:name="com.cyhee.android.rabit.activity.search.SearchActivity"/>
        <activity android:name="com.cyhee.android.rabit.activity.goalloglist.GoalLogListActivity"/>
        <!-- facebook -->
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        <activity android:name="com.facebook.FacebookActivity" android:configChanges= "keyboard|keyboardHidden|screenLayout|screenSize|orientation" android:label="@string/app_name" />
        <activity android:name="com.facebook.CustomTabActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
    </application>

    <!-- permissions -->
    <uses-permission android:name="android.permission.INTERNET" />

</manifest>